<div class="input-group mb-3">
  <input 
    [(ngModel)]="keyword" (ngModelChange)="onCryptoNameFilter()" 
    type="text"  
    class="form-control"
    placeholder="Valyuta nomini kiriting">
</div>


<div class="container">
  <div class="row">
    <div class="table-responsive">
      <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Current Price
            </th>
            <th>
              Price Change
            </th>
          </tr>
        </thead>
        <tbody>
          <tr 
          *ngFor="let cryptoStatistic of cryptoStatistics;">
            <td scope="row">
              <img src="{{cryptoStatistic.image}}" alt="crypto logo"> <br>
              {{cryptoStatistic.name}}
            </td>
            <td scope="row">
              {{cryptoStatistic.current_price}}
            </td >
            <td class="text-success" scope="row"
                [ngClass]="{'text-danger': cryptoStatistic.price_change_24h < 0}">
              {{cryptoStatistic.market_cap_change_percentage_24h.toFixed(2)}}%
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>