.table-responsive{
    table {
        font-weight: bold;
        max-height: 1000px;
        img {
            width: 40px;
        }
    }
}

@media screen and (max-width: 767.98px) {
    table {
        font-size: 0.8rem;
    }
}